@charset "UTF-8";

body {
	font-family: arial;
	color: white;
	background-color: #292F36;
}

td {
	
	margin: 10px;
}

h1 {
	text-align: center;
}


input[type="submit"] {
    padding: 10px;
    font-size: 16px;
    border-radius: 3px;
    background-color: #292F36;
    color: white;
    border: 2px solid #4ecdc4;
}

input[type="submit"]:hover {
	background-color: #4ecdc4;
    color: #292F36;
    border: 2px solid #292F36;
}

nav {
	padding: 15px;
	background-color: #292F36;
	margin-bottom: 25px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

li {
    display: inline;
    margin-right: 25px;
    margin-left: 25px;
}

a {
	color: white;
	font-size: 16px;
	text-decoration:none;
}

a:hover{
	color: #4ecdc4;
	font-weight: bold;
}